<main>
    <div class="navbar custom-brown">
        <div class="navbar-brand">
            <div class="nav-badge px-3 lrg-font">The Tech Blog</div>
        </div>
    </div>
</main>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="row justify-content-center">

            <div class="col-10">
                {{#each posts as |post| }}
                <a href="/post_view/{{post.id}}" class="post-link">
                    <div class="row brown-border mt-5 custom-brown sml-font p-3">
                        <div class="col-sm-12 col-lg-6">{{post.title}}</div>
                        <div class="col-sm-12 col-lg-6 text-end"> Posted by {{post.user.user_name}} on {{format_date
                            post.date_created}}
                        </div>
                    </div>
                    <div class="row xsml-font brown-border text-dark p-3">{{post.entry}}</div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</section>